<!DOCTYPE HTML>

{% load staticfiles %}

<html>
    
    <head lang='en'>
		<meta charset='UTF-8' />
		<link rel="stylesheet" href="{% static 'css/factorfiction.css' %}">
		<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
		<script src="{% static 'js/game.js' %}"></script>
		<Title>Fact or Fiction</Title>
	</head>
	
	<body>
		<div class="header">
			<img src="{% static "images/logo.jpg" %}" alt="Fact or Fiction Logo" />
			<h1>FACTorFICTION</h1>
		</div>
		
		<div class="navBar">
			<ul id="mainNav">
				<li><a href="">Home</a></li>
				<li><a href="/fofgame">FoF Game</a></li>
				<li><a href="">Submit</a></li>
				<li><a href="">Search</a></li>
				<li><a href="">About</a></li>
			</ul>
			<ul id="myProfile">
				<li><a href="">My Profile</a></li>
			</ul>
		</div>
		
		<div class="sidebar">
			<div id="trending">
				<p>Trending Posts</p>
			</div>
			<div id="signin">
				<p>Sign in</p>
					Username: <input type='text' name='username' value="" size='20' />
					<br />
					Password: <input type='password' name='password' value="" size='20' />
					<br />
			</div>
		</div>
		
		<div>
			{% block main_body_block %}
			{% endblock %}
		</div>
		<div>
			{% block sidebar_block %}
			{% endblock %}
		</div>
    </body>

</html>