<!DOCTYPE HTML>

{% load staticfiles %}
{% load factorfiction_template_tags %}

<html>
    
    <head lang='en'>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{% static 'css/factorfiction.css' %}">
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<script src="{% static 'js/game.js' %}"></script>
		<script src="{% static 'js/vote.js' %}"></script>
		
		<Title>Fact or Fiction -
		{% block title_block  %}
		{% endblock %}
		</Title>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<img id="logo" src="{% static "images/logo.jpg" %}" alt="Fact or Fiction Logo">
					<h1 id="title">FACTorFICTION</h1>
				</div>

				<div class="list-group list-group-horizontal col-sm-8">
					<div class="share-buttons">
						<!-- Facebook -->
						<script>
							function fbs_click() {
								u = location.href;
								t = document.title;
								window.open
								('http://www.facebook.com/sharer.php?u=' +
									encodeURIComponent(u) + '&t=' + encodeURIComponent(t),
									'sharer', 'toolbar=0,status=0,width=626,height=436');

									return false;
							}
						</script>
						<a href="http://www.facebook.com/share.php?u=http://www.example.com" style="text-decoration: none !important;" onclick="return fbs_click()" target="_blank">
							<img src="{% static "images/facebook.jpg" %}" alt="Share on Facebook">
						</a>
						<!-- Twitter -->
						<a href="https://twitter.com/home?status=http://www.example.com" style="text-decoration: none !important;" onclick="window.open('https://twitter.com/home?status=Fact Or Fiction http://www.example.com via @Snaptube  ',null,'height=290,width=550,status=yes,toolbar=no,menubar=no,location=no'); return false;">
							<img src="{% static "images/twitter.jpg" %}" alt="Share on Twitter">
						</a>
						<!-- Google+ -->
						<a href="https://plus.google.com/share?url=http://www.example.com" style="text-decoration: none !important;" onclick="window.open('https://plus.google.com/share?url=http://www.example.com',null,'height=626,width=436,status=yes,toolbar=no,menubar=no,location=no'); return false;" target="_blank">
							<img src="{% static "images/googleplus.jpg" %}" alt="Share on Google+">
						</a>
						<!-- Reddit -->
						<a href="http://www.reddit.com/submit" style="text-decoration: none !important;" onclick="window.open('http://www.reddit.com/submit?url=http://www.example.com',null,'height=900,width=750,status=yes,toolbar=no,menubar=no,location=no'); return false;">
							<img src="{% static "images/reddit.jpg" %}" alt="Share on Reddit">
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'fofgame' %}">FoF Game</a></li>
					<li><a href="{% url 'submit_page' %}">Submit</a></li>
					<li><a href="{% url 'search' %}">Search</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
				</ul>
				{% if user.is_authenticated %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'my_profile' %}"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
					<li><a href="{% url 'logout' %}"> Log Out</a></li>
				</ul>
				{% else %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'register' %}"> Register</a></li>
				</ul>
				{% endif %}
			</div>
		</nav>
		
		
		<div class="row">
			<div class="col-md-9">
				<div class="container-fluid">
					{% block main_body_block %}
					{% endblock %}
				</div>
			</div>
			<div class="col-md-3">
				<div class="container-fluid">
					<div id="trending">
						<h1 id="trending_header">Trending Posts</h1>
						<ul>
						{% for page in trendingPages %}
							<li><p><a href="/factorfiction/page/{{ page.slug }}">{{ page.title }}</a></p></li>
						{% endfor %}
						</ul>
					</div>

						{% if user.is_authenticated %}
							
						{% else %}
						<div id="signin">
							<p>Sign in</p>
							<form id="login_form" method="post" action="{% url 'login' %}">
								{% csrf_token %}
								Username: <input type="text" name="username" value="" size="25" />
								<br />
								Password: <input type="password" name="password" value="" size="25" />
								<br />
								<br />
								<input type="submit" value="Submit" />
							</form>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		
    </body>

</html>