<!DOCTYPE HTML>

{% load staticfiles %}
{% load factorfiction_template_tags %}

<html>
    
    <head lang='en'>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{% static 'css/factorfiction.css' %}">
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<script src="{% static 'js/game.js' %}"></script>
		
		<Title>Fact or Fiction</Title>
	</head>

	<body>
		<div class="headerDiv">
			<div>
				<img id="logo" src="{% static "images/logo.jpg" %}" alt="Fact or Fiction Logo" />
			</div>
			<div class="titleDiv">
				<h1 id="title">FACTorFICTION</h1>
			</div>
			<div id = "share-buttons">
				<!-- Facebook -->
				<a href="http://www.facebook.com/sharer.php?u=http:/{% url 'index' %}" target="_blank">
				<img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
				</a>
				<!-- Twitter -->
				<a href="https://twitter.com/share?url=http:/{% url 'index' %}&amp;text=FactOrFiction&amp;hashtags=FoF" target="_blank">
				<img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
				</a>
				<!-- Google+ -->
				<a href="https://plus.google.com/share?url=http:/{% url 'index' %}" target="_blank">
				<img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
				</a>
				<!-- Reddit -->
				<a href="http://reddit.com/submit?url=http:/{% url 'index' %}&amp;title=Fact Or Fiction" target="_blank">
				<img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
				</a>
			</div>
		</div>
		
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'fofgame' %}">FoF Game</a></li>
					<li><a href="{% url 'submit_page' %}">Submit</a></li>
					<li><a href="{% url 'search' %}">Search</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
				</ul>
				{% if user.is_authenticated %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
					<li><a href="{% url 'logout' %}"> Log Out</a></li>
				</ul>
				{% else %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'register' %}"> Register</a></li>
				</ul>
				{% endif %}
			</div>
		</nav>
		
		
		<div class="row">
			<div class="col-md-9">
				<div class="container-fluid">
					{% block main_body_block %}
					{% endblock %}
				</div>
			</div>
			<div class="col-md-3">
				<div class="container-fluid">
					<div id="trending">
						<p>Trending Posts</p>
					</div>

					<div id="signin">
						{% if user.is_authenticated %}
						<!-- Have left the old sign in object here in case my implementation is wrong
							<p>Sign in</p>
							Username: <input type='text' name='username' value="" size='20' />
							<br />
							Password: <input type='password' name='password' value="" size='20' />
							<br />
							<input type="submit" name="login" value="Log in"/>
							-->
							<p>Signed in.</p>
						{% else %}
							<p>Sign in</p>
							<form id="login_form" method="post" action="{% url 'login' %}">
								{% csrf_token %}
								Username: <input type="text" name="username" value="" size="25" />
								<br />
								Password: <input type="password" name="password" value="" size="25" />
								<br />
								<input type="submit" value="Submit" />
							</form>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		
    </body>

</html>