	{% extends 'factorfiction/base.html' %}
	{% load staticfiles %}
	

	{% block main_body_block %}
	<div class="current_article">
	<div class="row">
		<h1 id="game_title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h1>
	</div>
	<div class="row">
		<p id="game_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean 
		commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus 
		et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
		ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
	</div>
		<button id="game_fact" type="button">Fact</button>
		<p id="game_or">OR</p>
		<button id="game_fiction" type="button">Fiction</button>
		<img id="game_picture" src='{% static "images/fakenews.jpg" %}' alt="Article Picture" />
		<div id="answer">
			<h1 id="your_answer"></h1>
			<p id="current_answer">Currently, other users have said:</p>
			<p id="current_answer_fact"></p>
			<p id="current_answer_fiction"></p>
			<button id="game_next" type="button">Next</button>
			<a href="{% url 'index' %}"><button id="game_home" type="button">Homepage</button></a>
		</div>
	</div>
	{% endblock %}