	{% extends 'factorfiction/base.html' %}
	{% load staticfiles %}

	{% block main_body_block %}
	<div class="current_article">
		<h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h1>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean 
		commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus 
		et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
		ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
		<button id="game_fact" type="button">Fact</button>
		<p id="game_or">OR</p>
		<button id="game_fiction" type="button">Fiction</button>
		<img id="article_picture" src="{% static "images/fakenews.jpg" %}" alt="Picture of story" />
	</div>
	{% endblock %}