{% extends 'factorfiction/base.html' %}
{% load staticfiles %}

{% block title_block  %}
	Home Page
{% endblock %}

{% block main_body_block %}
	<p class="section_header">News</p>
	<div class="article_page">
		{% for page in pages %}
			<div id="article_page">
				<div class="row">
					<div class="col-md-12" align="center">
						<div class="page-header">
							<h2><a href="/factorfiction/page/{{ page.slug }}">{{ page.title }}</a></h2>
						</div>
					</div>
				</div>
				<div class="row" id="article_text">
					<div class="col-md-12">
						<object data={% static page.articleImage %} type="image/jpg" class="left_image">
							<img src="{% static "images/logo.jpg" %}" class ="left_image">
						</object> 
						<p>{{ page.content|slice:":200" }}...</p>		
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-md-offset-5">
						<p>Posted by: {{page.postedBy}} on {{page.created_date }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}