{% extends 'factorfiction/base.html' %}
{% load staticfiles %}

{% block title_block  %}
	Home Page
{% endblock %}

{% block main_body_block %}
	<p class="section_header">News</p>
	<div class="article_page">
		{% for page in pages %}
			<div class="articleDiv">
				<div class="row">
					<div class="col-md-12" align="center">
						<h2 id="page-header"><a href="/factorfiction/page/{{ page.slug }}">{{ page.title }}</a></h2>
					</div>
				</div>
				<div class="row" id="article_text">
					<div class="col-md-12">
						<object data={% static page.articleImage %} type="image/jpg" class="left_image">
							<img src="{% static "images/logo.jpg" %}" class ="left_image">
						</object> 
						<p id="page_content">{{ page.content|slice:":300" }}...</p>		
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-md-offset-5">
						<p>Posted by: <a href="/factorfiction/user/{{ page.postedBy }}">{{page.postedBy}}</a> on {{page.created_date }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}