{% extends 'factorfiction/base.html' %}
{% load staticfiles %}

{% block title_block  %}
	My Profile
{% endblock %}

{% block main_body_block %}
	<h3 style="margin-top: 0;">Personal Info</h3>
	<div id="profile_details" class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h2 style="margin-left: 5px;">{{ user.username }}</h2>
				<div class="row">
					<img id="profile_image" src="{{ MEDIA_URL }}{{ userprofile.picture }}" class ="left_image">
				</div>
				<div class="row">
					<h4>Name: {{ userprofile.name }}</h4>
				</div>
				<div class="row">
					<h4>Age: {{ userprofile.age }}</h4>
				</div>
				<div class="row">
					<h4>From: {{ userprofile.location }}</h4>
				</div>
			</div>
			<div class="col-md-6">
				<br/>
				<br/>
				<div class="row">
					<h4>Website: {{ userprofile.website }}</h4>
				</div>
				<div class="row">
					<h4>About:</h4>
					<p id="profile_about">{{ userprofile.bio }}</p>
				</div>
				<div class="row">
					<h4>Number of posts: {{ articles|length }}</h4>
				</div>
				<div class="row">
					{% if "/factorfiction/my_profile/"  == request.get_full_path  %}
						<a href="{% url 'update_profile' %}"><button id="edit_profile" type="button">Edit Profile</button></a>
					{% endif %}
				</div>
			</div>
		</div>	
	</div>
	
	<div>
	<h3>{{ user.username }}'s Posts:</h3>
		{% if articles %}
			<ul>
				{% for article in articles %}
					<div class="articleDiv">
				<div class="row">
					<div class="col-md-12" align="center">
						<h2 id="page-header"><a href="/factorfiction/page/{{ article.slug }}">{{ article.title }}</a></h2>
					</div>
				</div>
				<div class="row" id="article_text">
					<div class="col-md-12">
						<object data={% static article.articleImage %} type="image/jpg" class="left_image">
							<img src="{% static "images/logo.jpg" %}" class ="left_image">
						</object> 
						<p id="page_content">{{ article.content|slice:":300" }}...</p>		
					</div>
				</div>
			<div class="row">
					<div class="col-md-12 col-md-offset-5">
						<p>Posted on {{article.created_date }}</p>
					</div>
				</div>
			</div>
					
				{% endfor %}
			</ul>
		{% else %}
			<strong>You haven't posted any articles yet.</strong><br />
		{% endif %}
	</div>
{% endblock %}