{% extends 'factorfiction/base.html' %}
{% load staticfiles %}

{% block title_block  %}
	My Profile
{% endblock %}

{% block main_body_block %}
	<h3>Personal Info</h3>
	<div id="profile_details" class="row">
		<h3 class="col-md-12">{{ user.username }}</h3>
		<div class="row">
			<img class="col-md-4" id="profile_image" src="{{ MEDIA_URL }}{{ userprofile.picture }}" class ="left_image">
			<h4 class="col-md-6 col-md-offset-2">About:</br></br> {{userprofile.bio}}</h4>
		</div>
		<div class="row">
			<h4 class="col-md-12">Name: {{userprofile.name}}</h4>
			<h4 class="col-md-12">Age: {{userprofile.age}}</h4>
			<h4 class="col-md-12">From: {{userprofile.location}}</h4>
			<h4 class="col-md-6">Website: {{userprofile.website}}</h4>
			<h4 class="col-md-3">Number of posts: {{articles|length}}</h4>
			{% if "/factorfiction/my_profile/"  == request.get_full_path  %}
			<a href="{% url 'update_profile' %}"><button class="col-md-2" id="edit_profile" type="button">Edit Profile</button></a>
			{% endif %}
		</div>
	</div>
	
	<div>
	<h3>{{ user.username }}'s Posts:</h3>
		{% if articles %}
			<ul>
				{% for article in articles %}
					<div class="articleDiv">
				<div class="row">
					<div class="col-md-12" align="center">
						<h2 id="page-header"><a href="/factorfiction/page/{{ article.slug }}">{{ article.title }}</a></h2>
					</div>
				</div>
				<div class="row" id="article_text">
					<div class="col-md-12">
						<object data={% static article.articleImage %} type="image/jpg" class="left_image">
							<img src="{% static "images/logo.jpg" %}" class ="left_image">
						</object> 
						<p id="page_content">{{ article.content|slice:":300" }}...</p>		
					</div>
				</div>
			<div class="row">
					<div class="col-md-12 col-md-offset-5">
						<p>Posted on {{article.created_date }}</p>
					</div>
				</div>
			</div>
					
				{% endfor %}
			</ul>
		{% else %}
			<strong>You haven't posted any articles yet.</strong><br />
		{% endif %}
	</div>
{% endblock %}