{% extends 'factorfiction/base.html' %}
{% load staticfiles %}

{% block title_block  %}
	Article Page
{% endblock %}

{% block main_body_block %}
	<div id="article_page">
		<div class="row">
			<div class="col-md-12" align="center">
				<h1 id="page-header">{{ page.title }}</h1>
			</div>
		</div>
		<div class="row" id="article_text">
			<div class="col-md-12">
				<object data={% static page.articleImage %} type="image/jpg" class="left_image">
					<img src="{% static "images/logo.jpg" %}" class="left_image" />
				</object>  
				<p id="page_content">{{ page.content }}
					<a href={{ page.url }} target="_blank" <strong>...continue reading.</strong></a>
				</p>
				<p id="posted_by"></br>Posted by: {{ page.postedBy }} on {{ page.created_date }}</p>
				{% if can_vote %}
					<p id="doyouthink">Do you think this story is:</p>
					<div class="row" id="vote_on_page">
						<button id="vote_fact" class="col-md-2" data-pageid="{{ page.id }}" type="button">Fact</button>
						<h2 id="page_or" class="col-md-1">or</h2>
						<button id="vote_fiction" class="col-md-2" data-pageid="{{ page.id }}" type="button">Fiction</button>
					</div>
				{% endif %}
				<canvas id="voteDialCanvas" width="250" height="250" data-totalVotes= "{{ page.totalVotes }}" data-fictions= "{{ page.fictions }}"></canvas>
				<p id="fact_count"></br>{{ page.facts }} people have voted this as fact.</p> 
				<p id="fiction_count"></br>{{ page.fictions }} people have voted this as fiction. </p>
				
			</div>
		</div>
	</div>
	
	<hr>
	<div class="row">
		<div class="col-md-12">
				<h3>Comments:</h3>
		</div>
	</div>
	<hr>
	{% for comment in page.comments.all %}
		<div class="media">
			<div class="media-left">
				<!-- <img src="{% static "images/logo.jpg" %}" class="media-object" style="width:60px"> -->
				{% if comment.postedBy.userprofile.picture %}
					<img src="{{ comment.postedBy.userprofile.picture.url }}" class="media-object" style="width:60px">
				{% else %}
					<img src="{% static "images/avatar.png" %}" class="media-object" style="width:60px">
				{% endif %}
			</div>
			<div class="media-body">
				<h4 class="media-heading"> <strong>{{ comment.postedBy }}</strong> - {{ comment.created_date }}</h4>
				<p>{{ comment.text|linebreaks }}</p>
			</div>
		</div>
	{% empty %}
		<p>No comments here yet :(</p>
	{% endfor %}
	
	{% if user.is_authenticated %}
	<div id="form_box">
		<div class = "page-header">
			<h4>Add a comment:</h4>
		</div>
		<form id="comment_form" method="post" action="{% url 'add_comment' pk=page.pk %}">
			{% csrf_token %}
			<textarea style="width:600px" name="text" value=""></textarea>
			<br />
			<input type="submit" value="Submit" />
		</form>
	</div>
	{% endif %}
	
	<div class="row">
		<div class="col-md-12 col-md-offset-5">
			<img id="about_logo" src="{% static "images/logo.jpg" %}" alt="Fact or Fiction Logo" />
		</div>
	</div>
	
{% endblock %}