{% extends 'factorfiction/base.html' %}
{% load staticfiles %}

{% block title_block  %}
	Article Page
{% endblock %}

{% block main_body_block %}
	<div id="article_page">
		<div class="row">
			<div class="col-md-12" align="center">
				<div class="page-header">
					<h1>{{ page.title }}</h1>
				</div>
			</div>
		</div>
		<div class="row" id="article_text">
			<div class="col-md-12">
				<object data={% static page.articleImage %} type="image/jpg" class="left_image">
					<img src="{% static "images/logo.jpg" %}" class="left_image" />
				</object>  
				{{ page.content }}
				<p id="posted_by"></br>Posted by: {{ page.postedBy }} on {{ page.created_date }}</p>
				{% if can_vote %}
					<p id="doyouthink">Do you think this story is:</p>
					<div class="row" id="vote_on_page">
						<button id="vote_fact" class="col-md-2" data-pageid="{{ page.id }}" type="button">Fact</button>
						<h2 id="page_or" class="col-md-1">or</h2>
						<button id="vote_fiction" class="col-md-2" data-pageid="{{ page.id }}" type="button">Fiction</button>
					</div>
				{% endif %}
				<p id="fact_count"></br>{{ page.facts }} people have voted this as fact.</p> 
				<p id="fiction_count"></br>{{ page.fictions }} people have voted this as fiction. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-md-offset-5">
				<img id="about_logo" src="{% static "images/logo.jpg" %}" alt="Fact or Fiction Logo" />
			</div>
		</div>
	</div>
{% endblock %}