#logo {
	float: left;
	display: inline !important;
    width: 100px;
}

#title {
	position: absolute;
	padding-top: 15px;
	display: inline !important;
}

body {
	margin-left: 5% !important;
	margin-right: 5% !important;
}

.share-buttons {
  float: right !important;
  position: relative;
  padding-top: 30px;
}

.navbar-default {
  background-color: #ffffff !important;
  border-top-color: #000000 !important;
  border-bottom-color: #000000 !important;
  border-left-color: #ffffff !important;
  border-right-color: #ffffff !important;
  border-radius: 0px !important;
}

.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000 !important;
  font-size: 14pt !important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: red !important;
}

#trending {
	float: right;
	min-width: 200px;
	border-style: outset;
	padding: 10%;
}

#signin {
	min-width: 200px;
	float: right;
	margin-top: 5%;
	border-style: outset;
	padding: 10%;
	
}

.current_article{
	border-style: ridge;
	margin-top: 3%;
	margin-bottom: 5%;
	height: 600px;
	position: relative;
}

.current_article h1{
	position: absolute;
	margin-left: 3%;
}

.current_article #game_title{
	position: relative;
	margin-left: 3%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 225%;
}

.current_article p{
	position: absolute;
	top: 8%;
	margin: 3%;
}

.current_article #game_description{
	position: relative;
	margin-top:1%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 85%
}

.current_article #article_picture{
	width: 50%;
	height: 60%;
	position: absolute;
	bottom: 10%;
	right: 5%;
}

.current_article #scale{
	width: 30%;
	height: 30%;
	margin: 3%;
	position: absolute;
	bottom: 25%;
	left: 5%;
}

.current_article #posted_by{
	position: absolute;
	top: 87%;
	font-family: Verdana, Geneva, sans-serif;
}

.current_article #scale_fact{
	font-size: 175%;
	position: absolute;
	top: 65%;
	left: 5%;
}

.current_article #scale_fiction{
	font-size: 175%;
	position: absolute;
	top: 65%;
	left: 26%;
}


.current_article #game_or{
	font-size: 200%;
	padding-left: 5%;
	padding-right: 5%;
	position: absolute;
	top: 50%;
	left: 6%;
	font-family: Verdana, Geneva, sans-serif;
}

.current_article #game_fact{
	background-color: #0066ff;
	font-size: 300%;
	padding: 30px;
	border-radius: 15%;
	position: absolute;
	top: 32%;
	left: 10%;
	transition-duration: 0.3s;
}

.current_article #game_fact:hover{
	background-color: #8eb8ff;
	cursor: pointer;
}

.current_article #game_fiction{
	background-color: #ff1a1a;
	font-size: 300%;
	padding: 30px;
	border-radius: 15%;
	position: absolute;
	top: 65%;
	left: 8%;
	transition-duration: 0.3s;
}

.current_article #game_fiction:hover{
	background-color: #ff7f7f;
	cursor: pointer;
}

#answer {
	border-style: ridge;
	width: 50%;
	height: 60%;
	position: absolute;
	bottom: 10%;
	right: 5%;
	font-family: Verdana, Geneva, sans-serif;
}
#your_answer{
	position: absolute;
	top: 5%;
	left: 5%;
	font-family: Verdana, Geneva, sans-serif;
}

#current_answer{
	position: absolute;
	top: 30%;
	left: 5%;
	font-family: Verdana, Geneva, sans-serif;
}

#current_answer_fact{
	position: absolute;
	top: 45%;
	left: 5%;
}

#current_answer_fiction{
	position: absolute;
	top: 60%;
	left: 5%;
	font-family: Verdana, Geneva, sans-serif;
}

#game_next{
	background-color: #65f22e;
	font-size: 150%;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 15%;
	position: absolute;
	bottom: 10%;
	right: 5%;
	transition-duration: 0.3s;
}

#game_next:hover{
	background-color: #5bff66;
	cursor: pointer;
}

#game_home{
	background-color: #65f22e;
	font-size: 150%;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 15%;
	position: absolute;
	bottom: 10%;
	right: 5%;
	transition-duration: 0.3s;
}

#game_home:hover{
	background-color: #5bff66;
	cursor: pointer;
}
	

#game_picture{
	width: 50%;
	height: 60%;
	position: absolute;
	bottom: 10%;
	right: 5%;
}

#about_page{
	border-style: ridge;
	margin-bottom: 5%;
}

#about_text{
	padding: 5%;
	text-align: center;
	font-size: 1.5em;
}

#about_logo{
    width: 20%;
	padding-bottom: 5%;
}


