body{
	margin-top:30px;
	margin-left:50px;
	margin-right:50px;
}

.header{
	border-bottom: solid;
	padding-bottom: 5px;
	overflow: hidden;
	white-space: nowrap;
	}

.header img{	
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 20px;
	}

.header h1{
	font: x-large sans-serif;
	font-size: 60px;
	position: relative;
	top: 45px;
}

.header img,
.header h1{
	display: inline-block;
}
	
.navBar{
	width: auto;
	height: 60px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 20px;
	border-bottom: solid;
	overflow: hidden;
	white-space: nowrap;
}

.navBar ul{
	position: absolute;
    left: 20px;
	list-style: none;
	padding: 8px 0;
	margin: 0;
	min-width: 600px;
    display: inline-block;
    vertical-align: middle;
}
	
.navBar li {
	display: inline-block;
    padding-left: 20px;
	font-size: 25px;
}

.navBar a{
	text-decoration: none;
	color: black;
}

.navBar a:hover{
	color: red;
}

.navBar #mainNav{
	float:left;
	text-align: left;
	position: relative;
}

.navBar #myProfile{
	float:right;
	text-align: right;
	position: relative;
	margin-right: 60px;
}

.sidebar{
	float: right;
	height: 50em;
	width: 20%;
	min-width: 250px;
}

#trending{
	height: 65%;
	border-style: outset;
	margin: 5%;
	padding: 10%;
}

#signin{
	border-style: outset;
	margin: 5%;
	padding: 10%;
	position: relative;
	bottom: 0px;
	height: 20%;
}
