body{
	margin-top:30px;
	margin-left:50px;
	margin-right:50px;
}

.header{
	border-bottom: solid;
	padding-bottom: 5px;
	overflow: hidden;
	white-space: nowrap;
	}

.header img{	
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 20px;
	}

.header h1{
	font: x-large sans-serif;
	font-size: 60px;
	position: relative;
	top: 45px;
}

.header img,
.header h1{
	display: inline-block;
}
	
.navBar{
	width: auto;
	height: 60px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 20px;
	border-bottom: solid;
	overflow: hidden;
	white-space: nowrap;
}

.navBar ul{
	position: absolute;
    left: 20px;
	list-style: none;
	padding: 8px 0;
	margin: 0;
	min-width: 600px;
    display: inline-block;
    vertical-align: middle;
}
	
.navBar li {
	display: inline-block;
    padding-left: 20px;
	font-size: 25px;
}

.navBar a{
	text-decoration: none;
	color: black;
}

.navBar a:hover{
	color: red;
}

.navBar #mainNav{
	float:left;
	text-align: left;
	position: relative;
}

.navBar #myProfile{
	float:right;
	text-align: right;
	position: relative;
	margin-right: 60px;
}

.sidebar{
	float: right;
	height: 50em;
	width: 20%;
	min-width: 250px;
}

#trending{
	height: 65%;
	border-style: outset;
	margin: 5%;
	padding: 10%;
}

#signin{
	border-style: outset;
	margin: 5%;
	padding: 10%;
	position: relative;
	bottom: 0px;
	height: 20%;
}

.current_article{
	border-style: ridge;
	margin-top: 3%;
	width: 75%;
	height: 600px;
	position: relative;
}

.current_article h1{
	position: absolute;
	margin-left: 3%;
}

.current_article #game_title{
	position: absolute;
	margin-left: 3%;
}

.current_article p{
	position: absolute;
	top: 8%;
	margin: 3%;
}

.current_article #game_description{
	position: absolute;
	top: 10%;
	margin: 3%;
}

.current_article #article_picture{
	width: 50%;
	height: 60%;
	position: absolute;
	bottom: 10%;
	right: 5%;
}

.current_article #scale{
	width: 30%;
	height: 30%;
	margin: 3%;
	position: absolute;
	bottom: 25%;
	left: 5%;
}

.current_article #posted_by{
	position: absolute;
	top: 87%;
}

.current_article #scale_fact{
	font-size: 175%;
	position: absolute;
	top: 65%;
	left: 5%;
}

.current_article #scale_fiction{
	font-size: 175%;
	position: absolute;
	top: 65%;
	left: 26%;
}


.current_article #game_or{
	font-size: 200%;
	padding-left: 5%;
	padding-right: 5%;
	position: absolute;
	top: 48%;
	left: 6%;
}

.current_article #game_fact{
	background-color: #0066ff;
	font-size: 300%;
	padding: 30px;
	border-radius: 15%;
	position: absolute;
	top: 32%;
	left: 10%;
	transition-duration: 0.4s;
}

.current_article #game_fact:hover{
	background-color: #8eb8ff;
}

.current_article #game_fiction{
	background-color: #ff1a1a;
	font-size: 300%;
	padding: 30px;
	border-radius: 15%;
	position: absolute;
	top: 65%;
	left: 8%;
	transition-duration: 0.4s;
}

.current_article #game_fiction:hover{
	background-color: #ff7f7f;
}

#answer {
	border-style: ridge;
	width: 50%;
	height: 60%;
	position: absolute;
	bottom: 10%;
	right: 5%;
}
#your_answer{
	position: absolute;
	top: 5%;
	left: 5%;
}

#current_answer{
	position: absolute;
	top: 25%;
	left: 5%;
}

#current_answer_fact{
	position: absolute;
	top: 40%;
	left: 5%;
}

#current_answer_fiction{
	position: absolute;
	top: 55%;
	left: 5%;
}

#answer #game_next{
	background-color: white;
	font-size: 150%;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 15%;
	position: absolute;
	bottom: 10%;
	right: 5%;
}
